<ion-tabs #tabs (ionTabsDidChange)="setSelectedTab()">

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon [name]="selected == 'home' ? 'home' : 'home-outline'"></ion-icon>
            <ion-label>Emision</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="directory">
            <ion-icon [name]="selected == 'directory' ? 'library' : 'library-outline'"></ion-icon>
            <ion-label>Directorio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="search">
            <ion-icon [name]="selected == 'search' ? 'search' : 'search-outline'"></ion-icon>
            <ion-label>Buscar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="favorites">
            <ion-icon [name]="selected == 'favorites' ? 'heart' : 'heart-outline'"></ion-icon>
            <ion-label>Favoritos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon [name]="selected == 'settings' ? 'cog' : 'cog-outline'"></ion-icon>
            <ion-label>Ajustes</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>