<ion-header>
    <ion-toolbar>
        <ion-title class="category">Emision</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="anime_container">

        <div class="anime_card" *ngFor="let a of page1?.animes" [routerLink]="['/anime', a.id]">
            <div class="portada">
                <img [src]="a.img">
                <div class="anime_name">{{a.title}}</div>
            </div>
        </div>
        <div class="anime_card" *ngFor="let a of page2?.animes" [routerLink]="['/anime', a.id]">
            <div class="portada">
                <img [src]="a.img">
                <div class="anime_name">{{a.title}}</div>
            </div>
        </div>
        <div class="anime_card" *ngFor="let a of page3?.animes" [routerLink]="['/anime', a.id]">
            <div class="portada">
                <img [src]="a.img">
                <div class="anime_name">{{a.title}}</div>
            </div>
        </div>

    </div>
</ion-content>