<ion-header>
    <ion-toolbar>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="user_card_container">
        <img src="https://firebasestorage.googleapis.com/v0/b/angular-personal-web.appspot.com/o/users%2Fcarlos.webp?alt=media&token=9f92ad62-491a-4b3e-a849-e08b7cb56abf" alt="" class="user_avatar">
        <div class="user_info">
            <div class="user_name">Carlos Burelo</div>
            <p class="user_email">carlosfernandoburelo@gmail.com</p>
        </div>
    </div>
    <ion-list>
        <ion-list-header>Settings</ion-list-header>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="server"></ion-icon>
            </ion-avatar>
            <ion-label>Server</ion-label>
            <ion-select class="modal" placeholder="Choose any server">
                <ion-select-option value="monoschinos">Monoschinos</ion-select-option>
                <ion-select-option value="animeflv">AnimeFLV</ion-select-option>
                <ion-select-option value="jkanime">JkAnime</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="reader"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>Changelog</h2>
                <p>Application update notes and changelog...</p>
            </ion-label>
        </ion-item>

        <ion-item href="https://github.com/carlos-burelo/Stadia">
            <ion-avatar slot="start">
                <ion-icon name="logo-github"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>GitHub</h2>
                <p>Official application repository...</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="document-text"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>License</h2>
                <p>Terms and Conditions...</p>
            </ion-label>
        </ion-item>

        <ion-item href="https://carlos-burelo.github.io/post/Stadia">
            <ion-avatar slot="start">
                <ion-icon name="globe"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>Website</h2>
                <p>Page and documentation</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="information-circle"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>About</h2>
                <p>About the app...</p>
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>