$background: #000000;
.user_card_container {
    display: flex;
    align-items: center;
    width: 92%;
    margin: auto;
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
    .user_info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
    }
}

ion-list-header,
ion-list,
ion-item,
.item-native,
ion-label {
    background-color: #000000!important;
}

ion-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    ion-icon {
        font-size: 20px;
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
}