<title>{{title}}</title>
<app-toolbar></app-toolbar>
    <div class="main_container">
        <div class="container">
            <div class="recents_title"><i class="far fa-clock"></i>  CAPITULOS RECIENTES</div>
            <div class="anime_container">
                <div class="anime_target">
                    <div class="target_img">
                        <img src="https://monoschinos2.com/image/imagen/160/224/byousoku-5-centimeter.jpg" alt="">
                    </div>
                    <div class="target_info">
                        <div class="target_name">Anime 1</div>
                    </div>
                </div>
                <div class="anime_target">
                    <div class="target_img">
                        <img src="https://monoschinos2.com/image/imagen/160/224/byousoku-5-centimeter.jpg" alt="">
                    </div>
                    <div class="target_info">
                        <div class="target_name">Anime 2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-navbar></app-navbar>