ion-segment {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0%;
    right: 0%;
    padding-bottom: 1px;
    background-color: var(--ion-background-color);
    z-index: 9999;
}

ion-segment-button {
    padding: 8px 0;
    // background-color: var(--ion-color-primary);
    ion-label {
        font-size: 18px;
    }
}

.anime_container {
    width: 100%;
    // position: relative;
}

.info_container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.banner {
    position: relative;
    width: 100%;
    height: 240px;
    .bg-dark {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.742734593837535) 59%, rgba(0, 0, 0, 0.28895308123249297) 100%);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
        object-position: center;
    }
}

.info_container {
    .details {
        width: 95%;
        margin: auto;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
    }
}

.details img {
    width: 140px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.target {
    padding-left: 10px;
}

.content_container {
    position: relative;
    top: 240px;
}

.genders {
    width: 100%;
    overflow: hidden;
}

.gender-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: all ease .5s;
    button {
        scroll-snap-align: start;
        transition: all ease .5s;
        flex-shrink: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: none;
        outline: none;
        padding: 6px 16px;
        font-size: 12px;
        margin-right: 8px;
        color: #fff;
        background-color: #1a1a1a;
        border-radius: 30px;
        margin-bottom: 8px;
        ion-icon {
            color: #fff;
        }
    }
}

.sinopsis {
    font-size: 17px;
    text-align: start;
    width: 100%;
    flex-direction: column;
    .text {
        font-size: 15px;
        width: 100%;
    }
}

.anime-carousel {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: all ease .5s
}

.anime-card-carousel {
    scroll-snap-align: start;
    transition: all ease .5s;
    flex-shrink: 0;
    width: 120px;
    height: 100%;
    margin: 0px 8px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 1s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.portada {
    height: 100%;
    width: 100%;
    img {
        border-radius: 5px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .anime_name {
        position: relative;
        bottom: 18px;
        font-size: 12px;
        height: 20px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .anime_info {
        position: relative;
        bottom: 20px;
        font-size: 12px;
        height: 20px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        justify-content: space-between;
        mark {
            background-color: var(--ion-color-primary);
            color: #fff;
            padding: 1px 6px;
            margin: 0;
            line-height: normal;
            border-radius: 10px;
        }
    }
}

// .emision_card {
//     position: relative;
//     outline: none;
//     display: block;
//     height: 100px;
//     .text_capture {
//         width: 100%;
//         height: 16px;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         background-color: rgba(0, 0, 0, 0.768);
//         font-size: 12px;
//         position: absolute;
//         padding: 0px 8px;
//         bottom: 0;
//         left: 0;
//     }
// }
// .portada {
//     height: 100%;
//     width: 100%;
//     img {
//         border-radius: 5px;
//         object-fit: cover;
//         width: 100%;
//         height: 100%;
//         cursor: pointer;
//     }
// }
// .anime_name {
//     position: relative;
//     bottom: 18px;
//     font-size: 12px;
//     height: 20px;
//     width: 100%;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }
// .anime_info {
//     position: relative;
//     bottom: 20px;
//     font-size: 12px;
//     height: 20px;
//     width: 100%;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     mark {
//         background-color: #fff;
//         color: #000;
//         padding: 1px 6px;
//         border-radius: 5px;
//     }
// }
.title_suggestions, .title_episodes, .title_sinopsis {
    font-size: 20px;
    font-weight: 500;
    height: fit-content;
}

.title_episodes {
    margin-bottom: 20px;
}

.title_sinopsis {
    margin-bottom: 20px;
}

.title_suggestions {
    margin-bottom: 20px;
    margin-top: 30px;
}

.episodes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: scroll;
    // height: 60vh;
    .episode {
        display: flex;
        font-size: 18px;
        width: 100%;
        margin: 0px auto;
        margin-bottom: 10px;
        align-items: center;
        height: 70px;
        background-color: #090909;
        border-radius: 5px;
        img {
            height: 100%;
            width: 30%;
            border-radius: 5px;
            object-fit: cover;
            margin-right: 20px;
        }
        &:hover, &:focus {
            background-color: var(--btn-secondary);
        }
    }
}