<app-toolbar></app-toolbar>
<div class="main_container">
    <div class="container">
        
        <div class="anime_card" *ngIf="anime | keyvalue">
            <div class="anime_card_img">
                <img [src]="anime?.anime.img" [alt]="anime?.anime.title">
            </div>
            <div class="anime_card_info">
                <li><h1 class="anime_card_year">Status: {{anime?.anime.status}}</h1></li>
                <!-- <br> -->
                <li><h1 class="anime_card_title">{{anime?.anime.title}}</h1></li>
                <!-- <br> -->
                <li><h1 class="anime_card_type"><i class="fas fa-play"></i>{{anime?.anime.date}}</h1></li>
            </div>
        </div>
        <div class="anime_card_genders">
            <button *ngFor="let g of anime?.anime.genders">{{g.title}}</button>
        </div>

        <div class="subtitle_text">Sinopsis</div>
        <div class="sinopsis_container">
            <p class="sinopsis">
                {{anime?.anime.description}}
            </p>
        </div>
        <div class="subtitle_text">Suggestions</div>
        <div class="suggestions_container">
            <div class="anime_card" *ngFor="let sug of anime?.anime.sugestions"  [routerLink]="['/anime',sug.id]">
                <div class="anime_card_img">
                    <img [src]="sug.img" [alt]="sug.title">
                    <h2 class="suggestion_title">{{sug.title}}</h2>
                </div>
                <div class="anime_card_info">
                    <li><h1 class="anime_card_year"><i class="fas fa-play"></i>{{sug.year}}</h1></li>
                    <li><h1 class="anime_card_title">{{sug.title}}</h1></li>
                </div>
            </div>
        </div>
    </div>
</div>
<app-navbar></app-navbar>