@import '../../../theme/variables.scss';
* {
    outline: none;
}

ion-toolbar {
    width: 90%;
    margin: auto;
    ion-icon {
        color: #ffffff;
        font-size: 20px;
    }
}

ion-buttons {
    outline: none;
    ion-icon {
        outline: none;
    }
}

.anime_container {
    .info_container {
        position: relative;
        .banner {
            position: relative;
            width: 100%;
            height: 200px;
            .bg-dark {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgb(0, 0, 0);
                background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.742734593837535) 59%, rgba(0, 0, 0, 0.28895308123249297) 100%);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-position: center;
                object-position: center;
            }
        }
        .details {
            position: absolute;
            bottom: -30px;
            display: flex;
            .portada {
                width: 120px;
                height: auto;
                border-radius: 5px;
                margin: 0 10px;
                margin-left: 19px;
            }
            .target {
                display: flex;
                flex-direction: column;
                justify-content: center;
                div {
                    margin-bottom: 3.5px;
                    margin-right: 3px;
                    ion-icon {
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}

.genders {
    position: relative;
    /* padding: 0px 10px; */
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 35px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        background-color: #000000;
    }
    .gender {
        border: none;
        outline: none;
        padding: 6px 16px;
        font-size: 12px;
        margin-right: 10px;
        color: #ffffff;
        background-color: #1a1a1a;
        border-radius: 30px;
        ion-icon {
            color: #ffffff;
        }
    }
}

.divisor {
    width: 100%;
    height: 20px;
}

// .content{
//     padding-top: 20px;
//     width: 94%;
//     margin: auto;
// }
.slides {
    padding-top: 10px;
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    // -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #000000;
}

.slides::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    // background: transparent;
    background: #000000;
}

.slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    // height: 400px;
    border-radius: 10px;
    transition: transform 1s;
    display: flex;
}

.sinopsis {
    font-size: 15px;
    text-align: start;
    height: fit-content;
    flex-direction: column;
    .text {
        font-size: 12px;
        width: 90%;
        margin: 0 auto;
    }
}

.episodes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: scroll;
    height: 400px;
    .episode {
        display: flex;
        font-size: 18px;
        width: 90%;
        margin: 0px auto;
        margin-bottom: 10px;
        align-items: center;
        height: 70px;
        background-color: #090909;
        border-radius: 5px;
        img {
            height: 100%;
            width: 30%;
            border-radius: 5px;
            object-fit: cover;
            margin-right: 20px;
        }
        &:hover,
        &:focus {
            background-color: #151515;
        }
    }
}

// .slider {
//     margin-top: 40px;
// }
.slides-suggestions {
    display: flex;
    width: 90%;
    margin: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides-suggestions::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #000000;
}

.slides-suggestions::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

.slides-suggestions::-webkit-scrollbar-track {
    // background: transparent;
    background: #000000;
}

.slides-suggestions>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 26%;
    height: 100%;
    margin: 0px 8px;
    border-radius: 10px;
    background: #000;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 1s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.emision_card {
    position: relative;
    outline: none;
    display: block;
    height: 100px;
    .text_capture {
        width: 100%;
        height: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.768);
        font-size: 12px;
        position: absolute;
        padding: 0px 8px;
        bottom: 0;
        left: 0;
    }
}

.portada {
    height: 100%;
    width: 100%;
    img {
        border-radius: 5px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.anime_name {
    position: relative;
    bottom: 18px;
    font-size: 12px;
    height: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anime_info {
    position: relative;
    bottom: 20px;
    font-size: 12px;
    height: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: space-between;
    mark {
        background-color: #ffffff;
        color: #000;
        padding: 1px 6px;
        border-radius: 10px;
    }
}

.title_suggestions,
.title_episodes,
.title_sinopsis {
    width: 90%;
    margin: 0 auto;
    font-weight: 500;
    height: fit-content;
    color: $main;
}

.title_episodes {
    margin-bottom: 20px;
}

.title_sinopsis {
    margin-bottom: 20px;
}

.title_suggestions {
    margin-bottom: 20px;
    margin-top: 30px;
}