<nav class="navbar">
    <li routerLink="/home" routerLinkActive="menu_active" class="menu_item push">
        <i class="fas fa-home push"></i>
        <h6 class="tab_name">Home</h6>
    </li>
    <li routerLink="/emision" routerLinkActive="menu_active" class="menu_item push">
        <i class="fas fa-rss push"></i>
        <h6 class="tab_name">Emision</h6>
    </li>
    <li routerLink="/directory" routerLinkActive="menu_active" class="menu_item push">
        <i class="fas fa-stream push"></i>
        <h6 class="tab_name">Directory</h6>
    </li>
    <li routerLink="/mylist" routerLinkActive="menu_active" class="menu_item push">
        <i class="fas fa-heart"></i>
        <h6 class="tab_name">Favorites</h6>
    </li>
</nav>