<nav class="navbar">
    <li routerLink="/home" routerLinkActive="menu_active" class="menu_item push">
        <!-- <i class="fas fa-home push"></i> -->
        <img src="https://img.icons8.com/fluent/96/ffffff/home.png"/>
        <h6 class="tab_name">Home</h6>
    </li>
    <li routerLink="/emision" routerLinkActive="menu_active" class="menu_item push">
        <!-- <i class="fas fa-rss push"></i> -->
        <img src="https://img.icons8.com/fluent/96/ffffff/appointment-reminders.png"/>
        <h6 class="tab_name">Emision</h6>
    </li>
    <li routerLink="/directory" routerLinkActive="menu_active" class="menu_item push">
        <!-- <i class="fas fa-stream push"></i> -->
        <img src="https://img.icons8.com/fluent/96/ffffff/book-shelf.png"/>
        <h6 class="tab_name">Directory</h6>
    </li>
    <li routerLink="/mylist" routerLinkActive="menu_active" class="menu_item push">
        <!-- <i class="fas fa-heart"></i> -->
        <img src="https://img.icons8.com/fluent/96/ffffff/like.png"/>
        <h6 class="tab_name">Favorites</h6>
    </li>
</nav>