<nav class="navbar">
    <li routerLink="/home" routerLinkActive="menu_active" class="menu_item">
        <i class="fas fa-home"></i>
        <h6 class="tab_name">Home</h6>
    </li>
    <li routerLink="/emision" routerLinkActive="menu_active" class="menu_item">
        <i class="fas fa-rss"></i>
        <h6 class="tab_name">Emision</h6>
    </li>
    <li routerLink="/directory" routerLinkActive="menu_active" class="menu_item">
        <i class="fas fa-stream"></i>
        <h6 class="tab_name">Directorio</h6>
    </li>
    <li routerLink="/mylist" routerLinkActive="menu_active" class="menu_item">
        <i class="fas fa-cog"></i>
        <h6 class="tab_name">Ajustes</h6>
    </li>
</nav>