<title>{{episode?.title}}</title>
<app-toolbar></app-toolbar>
<div class="loading_container" *ngIf="!episode">
    <img src="https://2.bp.blogspot.com/-efY5-4XTVMU/WVpPJeyuTxI/AAAAAAAQEU0/mD5MWKb_avEocSus7vtLfOe0jTnVDi_IgCLcBGAs/s1600/AW465513_16.gif">
    <h1 class="loading">Loading episode...</h1>
</div>
<div class="main_container">
    <div class="container">
        <div *ngIf="episode | keyvalue">
                <div class="episode_card">
                    <h5 class="episode_name">{{episode?.title}}</h5>
                    
                    <div class="subtitle_text">Video servers</div>
                    <ul>
                        <li *ngFor="let video of episode?.videos" (click)="getVideo($event, video)" >Server</li>
                    </ul>
                    <iframe [src]="videourlSafe" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen frameborder="0" class="video_container" width="100%" height="100%"></iframe>
                    <div class="subtitle_text">Download links</div>
                    <ul class="download_zone">
                        <a class="download_link" *ngFor="let link of episode?.downloads" [href]="link" target="_blank">
                            <i class="fas fa-cloud-download-alt"></i>
                        </a>
                        
                    </ul>
            </div>
        </div>
    </div>
</div>

<app-navbar></app-navbar>


<!-- <h6>{{episode?.title}}</h6>
<img [src]="episode?.img" [alt]="episode?.title"> -->