.anime_container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.anime_card{
    width: calc(33.333333% - 20px);
    margin: 10px;
    outline: none;
	display: block;
    .portada{
        img{
            border-radius: 5px;
            object-fit: cover;
            width: 100%;
            cursor: pointer;
        }
    }   
    .anime_name {
        position: relative;
        bottom: 0;
        font-size: 12px;
        height: 20px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}