<ion-header>
    <ion-toolbar>
        <ion-title>Home

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <div class="container">
        <div class="episode_card" *ngFor="let a of lastest" [routerLink]="['/ver',a.id]">
            <div class="episode_card_info">
                <li>
                    <div class="episode_card_numero">Capitulo <mark>{{a.nEpisode}}</mark></div>
                </li>
                <li>
                    <div class="episode_card_title">
                        <p>{{a.title}}</p>
                    </div>
                    <div class="episode_card_numero">{{a.type}}</div>
                </li>
            </div>
            <div class="episode_card_img">
                <img [src]="a.img" [alt]="a.title">
                <!-- <div class="episode_tooltip">{{a.nEpisode}}</div> -->
            </div>
        </div>

    </div>

</ion-content>