<title>{{title}}</title>
<app-toolbar></app-toolbar>
    <div class="loading_container" *ngIf="!lastest">
        <img src="https://2.bp.blogspot.com/-efY5-4XTVMU/WVpPJeyuTxI/AAAAAAAQEU0/mD5MWKb_avEocSus7vtLfOe0jTnVDi_IgCLcBGAs/s1600/AW465513_16.gif">
        <h1 class="loading">Loading episodes...</h1>
    </div>
    <div class="main_container">
        <div class="container">
            <div class="section_title"><i class="far fa-clock"></i>  CAPITULOS RECIENTES</div>
            <div class="cap_card" *ngFor="let anime of lastest?.animes" [routerLink]="['/ver',anime.id]">
                <div class="cap_card_img">
                    <img [src]="anime.img" [alt]="anime.title">
                </div>
                <div class="cap_card_info">
                    <li><h1 class="cap_card_numero">Capitulo {{anime.nEpisode}}</h1></li>
                    <li><h1 class="cap_card_title">{{anime.title}}</h1></li>
                    <li><h1 class="cap_card_tipo"><i class="fas fa-play"></i>{{anime.type}}</h1></li>
                </div>
            </div>
        </div>
    </div>
<app-navbar></app-navbar>